:root {
	--container-width: 1158px;
	--container-padding: 20px;
	
	--font-family: "Roboto", sans-serif;
	--second-family: "Montserrat", sans-serif;

	--page-bg: #fff;
	--text-color: #092404;
	--main-green:#4ec259;
	--active-green: #67d23c;
}
